body {
  background-color: #fae6da;
  margin-top:0px;
}


h1 {
  text-align:center;
  padding-top: 70px;
  color: #c4551b;
  font-family: fantasy;
  size: 200px;
}
h2 {
  text-align: center;
  color: #c4551b;
  font-family: fantasy;
}
#partyisland {
  width: 100%;
}

p{
  text-align:center;
  color:#c4551b;
  font-family: fantasy;
}
#links {
  word-spacing: 15px;
  text-align: center;
}

a {
  text-decoration: none;

}

a:hover {
  color: white;
}

#link-item{
  display: inline;

}
li {
  font-size: 25px;
  color: #c4551b;
  font-family: fantasy;
}
#hotel {
  width: 75%;
  margin-top: 50px;
  float: center;
}
#DJ {
  width: 75%;
}
img {
  display:block;
  width: 75%;
  margin: auto;
}
