body {
  background-color: #c78020;
  margin-top:0px;
}


h1 {
  text-align:center;
  padding-top: 70px;
  color: white;
  font-family: fantasy;
  size: 200px;
}
h2 {
  text-align: center;
  color: white;
  font-family: serif;
}
#partyisland {
  width: 100%;
}

p{
  text-align:center;
  color:white;
}
#links {
  word-spacing: 10px;
  text-decoration: none;
  text-align: center;

}

#link-item{
  display: inline;

}
li {
  font-size: 25px;
  color: white;
}
#hotel {
  width: 75%;
  margin-top: 50px;
  float: center;
}
